<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureBlobCleanerConnectionString" value="DefaultEndpointsProtocol=https;AccountName=s42;AccountKey=2kHwd7yqJrYzXW3mGIf0ne/2515LTjH2FWgZ9oM2eLBQXX9WwmlIuZJhuf0H2Jw+2mOb+/jxY1zPA8KvAF6bjQ==;EndpointSuffix=core.windows.net"/>
    <add key="AzureBlobCleanerContainer" value="masina-sql-backup" />
  </appSettings>
</configuration>