<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureBlobCleanerConnectionString" value="DefaultEndpointsProtocol=https;AccountName=s42;AccountKey=lZF8t+8Jg5NhjiGIkp0Bzm38bKZtORdOWqjHRKV2OMJfLYui+cUVSW3zGu6T2SS8gFANmI64lihTdUyNvgqhNA==;EndpointSuffix=core.windows.net"/>
    <add key="AzureBlobCleanerContainer" value="masina-sql-backup" />
  </appSettings>
</configuration>